In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("movie_metadata.csv")

In [3]:
data.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [4]:
data.shape

(5043, 28)

In [5]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
import matplotlib.pyplot as plt
data.title_year.value_counts(dropna=False).sort_index().plot(kind='barh', figsize=(16,16))
plt.show()

In [10]:
data= data.loc[:,['movie_title','director_name','genres','actor_1_name','actor_2_name','actor_3_name']]

In [11]:
data.isnull().sum()

movie_title        0
director_name    104
genres             0
actor_1_name       7
actor_2_name      13
actor_3_name      23
dtype: int64

In [14]:
data.fillna(value="Unknown",inplace=True)

In [15]:
data.isnull().sum()

movie_title      0
director_name    0
genres           0
actor_1_name     0
actor_2_name     0
actor_3_name     0
dtype: int64

In [23]:
data['genres']= data['genres'].replace('|',' ')
data.head()

                                         movie_title  ...          actor_3_name
0                                            Avatar   ...             Wes Studi
1          Pirates of the Caribbean: At World's End   ...        Jack Davenport
2                                           Spectre   ...      Stephanie Sigman
3                             The Dark Knight Rises   ...  Joseph Gordon-Levitt
4  Star Wars: Episode VII - The Force Awakens    ...  ...               Unknown

[5 rows x 6 columns]

In [24]:
data.movie_title = data.movie_title.str.lower()

In [25]:
data.head()

                                         movie_title  ...          actor_3_name
0                                            avatar   ...             Wes Studi
1          pirates of the caribbean: at world's end   ...        Jack Davenport
2                                           spectre   ...      Stephanie Sigman
3                             the dark knight rises   ...  Joseph Gordon-Levitt
4  star wars: episode vii - the force awakens    ...  ...               Unknown

[5 rows x 6 columns]

In [28]:
data.movie_title = data.movie_title.apply(lambda x: x[:-1])

In [29]:
data.to_csv('data.csv', index= False)