In [1]:
import numpy as np
import pandas as pd

In [2]:
credits = pd.read_csv('credits.csv')

In [3]:
meta_data = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
meta_data.release_date = pd.to_datetime(meta_data.release_date, errors= 'coerce')

In [5]:
meta_data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [10]:
year = meta_data.release_date.dt.year

In [13]:
pd.DataFrame(year)

       release_date
0            1995.0
1            1995.0
2            1995.0
3            1995.0
4            1995.0
...             ...
45461           NaN
45462        2011.0
45463        2003.0
45464        1917.0
45465        2017.0

[45466 rows x 1 columns]

In [30]:
year=pd.DataFrame(year)

In [33]:
year.columns = ['Year']
year

         Year
0      1995.0
1      1995.0
2      1995.0
3      1995.0
4      1995.0
...       ...
45461     NaN
45462  2011.0
45463  2003.0
45464  1917.0
45465  2017.0

[45466 rows x 1 columns]

In [35]:
meta = pd.concat([meta_data,year],axis=1)

In [37]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Year'],
      dtype='object')

In [38]:
meta.Year.value_counts(dropna=False).sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
NaN         90
Name: Year, Length: 136, dtype: int64

In [39]:
new_meta = meta.loc[meta.Year == 2017,['genres','id','title','Year']]

In [43]:
new_meta.dtypes

genres     object
id         object
title      object
Year      float64
dtype: object

In [44]:
new_meta.id = new_meta.id.astype(int)

In [45]:
new_meta.dtypes

genres     object
id          int64
title      object
Year      float64
dtype: object

In [46]:
data = pd.merge(new_meta, credits, on='id')

In [49]:
data

                                                genres  ...                                               crew
0    [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  [{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...
1    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...
2    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '56a93fa4c3a36872db001e7a', 'de...
3    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '59171547925141583c0315a6', 'de...
4    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  [{'credit_id': '5431de49c3a36825d300007e', 'de...
..                                                 ...  ...                                                ...
526  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  [{'credit_id': '597e22f69251415d7801c74a', 'de...
527  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  [{'credit_id': '593ba0c29251410593009be3', 'de...
528  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  [{'credit_id': '5981a15c92514151e0011b51', 'de...
529  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  [{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...
530                                                 []  ...  [{'credit_id': '593e676c92514105b702e68e', 'de...

[531 rows x 6 columns]

In [50]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [51]:
 def genres_list(x):   
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [56]:
data['genres_list'] = data['genres'].map(lambda x: genres_list(x))

In [57]:
data.genres_list

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [58]:
def get_actor1(x):
  casts=[]
  for i in x:
    casts.append(i.get('name'))
  if casts==[]:
    return np.NaN
  else:
    return (casts[0])

In [75]:
def get_actor2(x):
  casts=[]
  for i in x:
    casts.append(i.get('name'))
  if casts==[] or len(casts)<=1:
    return np.NaN
  else:
    return (casts[1])

In [76]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [77]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [78]:
data.actor_1_name

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [79]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [80]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [67]:
data.director_name

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [81]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [82]:
movie

                      director_name  ...                                             title
0    Joachim Rønning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                       Zack Snyder  ...                                    Justice League
2                     Taika Waititi  ...                                    Thor: Ragnarok
3                        James Gunn  ...                    Guardians of the Galaxy Vol. 2
4                     Sean McNamara  ...                               The King's Daughter
..                              ...  ...                                               ...
526                Hannaleena Hauru  ...                  Thick Lashes of Lauri Mäntyvaara
527           Jonathan A. Rosenbaum  ...                       Cop and a Half: New Recruit
528        Beth David Esteban Bravo  ...                                    In a Heartbeat
529                    Ravi Udyawar  ...                                               Mom
530                   Daisy Asquith  ...                                          Queerama

[531 rows x 6 columns]

In [83]:
movie.isnull().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [84]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

movie['movie_title'] = movie['movie_title'].str.lower()

movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [85]:
movie

                      director_name  ...                                               comb
0    Joachim Rønning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1                       Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2                     Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3                        James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gu...
4                     Sean McNamara  ...  Pierce Brosnan William Hurt Benjamin Walker Se...
..                              ...  ...                                                ...
526                Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527           Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
528        Beth David Esteban Bravo  ...                                                NaN
529                    Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...
530                   Daisy Asquith  ...                                                NaN

[531 rows x 7 columns]

In [86]:
old = pd.read_csv('data.csv')

In [87]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [88]:
old

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5038        Scott Smith  ...  Eric Mabius Daphne Zuniga Crystal Lowe Scott S...
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknow...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benja...
5041        Daniel Hsia  ...  Alan Ruck Daniel Henney Eliza Coupe Daniel Hsi...
5042           Jon Gunn  ...  John August Brian Herzlinger Jon Gunn Jon Gunn...

[5043 rows x 7 columns]

In [89]:
new = old.append(movie)

In [90]:
new

                director_name  ...                                               comb
0               James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1              Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                  Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3           Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                 Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
..                        ...  ...                                                ...
526          Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527     Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
528  Beth David Esteban Bravo  ...                                                NaN
529              Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...
530             Daisy Asquith  ...                                                NaN

[5574 rows x 7 columns]

In [92]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [93]:
new.to_csv('new_data.csv',index=False)